<div class="user-container">
  <div class="user-field">
    <div class="title">Name</div>
    <div class="value">{{user?.name}}</div>
  </div>
  <div class="user-field">
    <div class="title">User Name</div>
    <div class="value">{{user?.username}}</div>
  </div>
  <div class="user-field">
    <div class="title">Address</div>
    <div class="value">{{user?.address}}</div>
  </div>
  <div class="user-field">
    <div class="title">Company</div>
    <div class="value">{{user?.company}}</div>
  </div>
</div>